.counter {
  text-align: left;
}
.counter h1 {

  font-weight: bold;
  font-size: 60px;
  color: #ff0000;

}

.counter-display{
  background: #313131;

  margin: 0;

  border-radius: 10px;
  text-align: center;
}

.counter label {
  color: rgb(218, 218, 218);
  font-weight: bold;
  font-size: 1rem;
  margin-right: 10px;
}

.counter input {
  padding: 1px;
  border: none;
}

.counter button {

  width: 30px;
  height: 30px;
  margin: 5px;

  background-size: 400% 400%;
  background-image: linear-gradient(-210deg, 
  #131313, #161616, 
  #1f1f1f, #222222);
  animation: animateGradient 2s ease infinite;

  border: 1px solid #ff0000;
  color: #ff0000;
  font-size: 1rem;
  text-align: center;
}


@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  } 
  100% {
    background-position: 50% 0%;
  }
}
