* {
  margin: 0;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
}
body {
  background-color: #2e2e2e;
  color: #ffffff;
}

p{
  color: #dcdcdc;
  font-size: 18px;
}

h1 {
  font-weight: lighter;
}